.blog-container{
  display:flex;
 justify-content: space-around;


  
}

 .blogCart{

  width: 55%;

}
.sideCart{

  width: 35%;
  border-radius: 5px;
  
  
}
 .BookMarkCounter{
text-align: center;
}

@media only screen and (max-width: 600px) {
  .blog-container{

    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 12px;
  }

}

@media only screen and (max-width: 600px){
   .BookMarkCounter{
    width: 378px;
    margin-top: 40px;
  }
}

