.single_blog {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
  gap:4px;
  width:80%;
  padding-left: 50px;
  
  
  
  }
  
  .single_blog .blog-information .author-detail{
    display:flex;
    gap:5px;
    text-align: center;
  }
   .author_info p{
    padding-left: 5px;
   }
  
  .single_blog .blog-information{
    display:flex;
    justify-content: space-between;
  
  }
  .single_blog img{
    width:100%;
    border-radius: 10px;
  
   
  }
  
  .single_blog .blog-information .author-detail .author img{
    width: 80px;
    height: 60px;
    border-radius: 100px;
    margin-top: 15px;
  }

  .single_blog .readTime{
    display:flex;
    gap:5px;

  }

  @media only screen and (max-width: 600px){
    .single_blog img,.single_blog {
      width: 306px;
      margin-top: 40px;
      flex-direction: column;
      border-bottom: 1px solid rebeccapurple;
    }
  }
  
  